/*Generales*/
body{
	font-family: 'Montserrat', sans-serif;
}
h1{
	color:  #003046;
}
h2{
	color: #003046;
	margin-top:10%;
}
h3{
	color: #ff0065;
}
h4{
	color: #ff0065;
	text-align: center;
	margin: 10% 0% 5% 0%;
}
footer{
	background-color: #003046;
	color: white;
}
hr{
	width: 10%;
	border:5px solid #ff0065;
	border-radius: 4px;
	margin-left: 5px;
	margin-bottom: 5%;			
}

/*Menu*/
.logo{
	width: 50%;
	margin-top: 3%;
}

/*Inicio y formulario*/
.inicio{
	background: url(img/fondo.jpg);
	background-size: 100% 100%;
}
video{
	width: 100%;
	margin-top: 5%;
	height: 400px;
}
label{
	color:#ff0065 !important;
	font-size: large !important;
}
.nav-wrapper{
	background-color: #003046;
}
.button{
	display: block;
	margin: auto;
	margin-bottom: 3%;
	background-color: #ff0065;
}
.button:hover{
	background-color: #ff0065;
}
.apertura{
	font-size: 1.5em;
	color: #ff0065;
}
.cal{
	color: #003046;
}
/*Sobre nosotros*/
.contacto{
	background-color: #ff0065;
	color: white;
}
.icon{
	width: 20%;
	display: block;
	margin:auto;
}
.testimonios{
	margin: 5% 0;
}
/*Cursos*/
.imagen{
	width: 100%;
	height: 300px;
}
.opacidad{
	background-color: rgba(0,48,70,0.5);
  	width: 100%;
  	height: 300px;
}
.curso{
	color: #003046;
	font-weight:bold;
	border-bottom: solid 1px #ff0065;
	text-align: center;
}
.card-action a{
	color: #ff0065 !important;
}

/*Profesores*/

/*Galeria*/
.galeria{
	width: 100%;
}

.margen{
	margin-top: 5%;
	margin-bottom: 5%; 
}

.testimonio{
	display: block;
	margin: auto;
	width: 25%;
}
/*Blog*/
.evento{
	width: 100%;
}

/*Footer*/
.page-footer{
	background-color: #003046;
	color: white;
}
.redes a{
	margin: 3%;
}

/*Marketing*/
.txti{
	color: white;
	text-align: justify;
	font-size: large;
}
.programa{
	display: block;
	margin: auto;
	padding: 5%;
	margin-top: 15%;
	background-color: #43cadd !important;
	color: white;
	border:solid 1px #43cadd;
	border-radius: 5%;
	margin-bottom: 15%;
	width: 90%;
}
.beca{
	display: block;
	margin: auto;
	padding: 5%;
	margin-top: 15%;
	background-color: #ff0065 !important;
	color: white;
	border:solid 1px #ff0065;
	border-radius: 5%;
	margin-bottom: 15%;
	width: 90%;
}
input{
	border-bottom-color: #003046 !important;
}
.btn-beca{
	padding: 3%;
	background-color: #ff0065 !important;
	color: white;
	border:solid 1px #ff0065;
	border-radius: 5%;
}
/*Front*/
.oferta{
	padding: 20%;
}
.azul{
	background-color: #003046;
	color: white;
	height: 300px;
	width: 100%;
}
.rosa{
	background-color: #ff0065;
	color: white;
	height: 300px;
	width: 100%;
}
.sede{
	color: #ff0065;
}
/*sedes*/
#thePool{
	background-color: rgba(31,37,38,.75);
	height: 150px;
	padding: 2px;
	display: block;
	margin: auto;
}
#aldea{
	display: block;
	margin: auto;
	height: 100px;
}
#wrk{
	display: block;
	margin: auto;
}
#impact{
	display: block;
	margin: auto;
	height: 50px;
}
#work{
	display: block;
	margin: auto;
	height: 100px;	
}
#grados{
	display: block;
	margin: auto;
	background-color: rgba(62, 204, 181, 1);
	height: 100px;
	padding: 2%;
}
#puebla{
	display: block;
	margin: auto;
	background-color: #3a3a3a;
	padding: 1%;
}
/*talento*/
.clientes{
	width: 80%;
	display: block;
	margin: auto;
}
#enjoy{
	width: 80%;
	display: block;
	margin: auto;
}
#jana{
	width: 10	0%;
	display: block;
	margin: auto;
}
#iecatss{
	width: 80%;
	display: block;
	margin: auto;
}
/*alumno*/
.bagde{
	display: block;
	margin: auto;
	width: 50%;
}
.inicial{
	font-size: 1.5em;
	font-weight: bold;
	color: #ff0065;
}
.certificada{
	width: 100%;
	border-radius: 50%;
	display: block;
	margin: auto;
	padding: 10%;
}
.linkedin{
	display: block;
	margin: auto;
}
/*proyecto*/


@media all and (max-width:360px){
	.logo{
		width:80%;
		display: block;
		margin: auto;
	}
}